body {
	font-family: Helvetica;
	margin: 0px;
}
#lewy{
	background-color: navy;
	color: white;
	height: 700px;
	width: 25%;
	float: left;
}
#prawy1{
	background-color: RoyalBlue;
	height: 100px;
	width: 75%;
	text-align: center;
	float: right;
}
#prawy2{
	background-color: SteelBlue;
	height: 300px;
	width: 75%;
	float: right;
}
#prawy3{
	background-color: RoyalBlue;
	height: 300px;
	width: 75%;
	text-align: center;
	float: right;
}
footer{
	background-color: SteelBlue;
	text-align: center;
	padding: 20px;
}
h1{
	letter-spacing: 5px;
}
form{
	margin: 30px;
	line-height: 3;
}
form:hover{
	background-color: DeepSkyBlue;
}
img{
	width: 70%;
	height: 90%;
}